@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
    <script src="~/js/site.js"></script>
}

<div class="text-center">
    <br /><br /><hr /><br />
    <h1 class="display-4">Inlämningsuppgift<br />Databaser med C#<br />Väderdata</h1>
    <p>Använd menyvalen ovan för att navigera</p>
    <p><b><i>Mattias Hermansson Salmi ITHS .NET</i></b></p><br />
    <hr /><br /><br /><br />
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm col-4 d-flex justify-content-center m-3">
                <img src="~/Images/cSharpLogo.png" class="img-thumbnail w-75 h-75" />
            </div>
            <div class="col-sm col-4 d-flex justify-content-center m-3">
                <img src="~/Images/aspnet-coreLogo.png" class="img-thumbnail w-75 h-75" />
            </div>
            <div class="col-sm col-4 d-flex justify-content-center m-3">
                <img src="~/Images/EfCoreLogo.png" class="img-thumbnail w-75 h-75" />
            </div>
            <div class="col-sm col-4 d-flex justify-content-center m-3">
                <img src="~/Images/sqlServerLogo.jpg" class="img-thumbnail w-75 h-75" />
            </div>
        </div>
    </div>
</div>
